.con{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px 100px auto 100px;
}
.imgcon{
    grid-column: 1 / 2;
    grid-row: 3 / 6;
    width: 100%;
    height: 500px;
}
.b1{
    margin: auto;
    font-size: 40px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.b2{
    margin: auto;
    font-size: 40px;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    text-align: center;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.btn{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.input{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}